<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-financial-variables-heading" jhiTranslate="crieAsasApp.financialVariables.home.createOrEditLabel">Create or edit a Financial Variables</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!financialVariables.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="financialVariables.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crieAsasApp.financialVariables.closingDay" for="field_closingDay">Closing Day</label>
                    <div class="d-flex">
                        <input id="field_closingDay" type="datetime-local" class="form-control" name="closingDay" [(ngModel)]="closingDay"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crieAsasApp.financialVariables.billingDay" for="field_billingDay">Billing Day</label>
                    <div class="d-flex">
                        <input id="field_billingDay" type="datetime-local" class="form-control" name="billingDay" [(ngModel)]="billingDay"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crieAsasApp.financialVariables.percentageLevel1" for="field_percentageLevel1">Percentage Level 1</label>
                    <input type="number" class="form-control" name="percentageLevel1" id="field_percentageLevel1"
                        [(ngModel)]="financialVariables.percentageLevel1" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crieAsasApp.financialVariables.percentageLevel2" for="field_percentageLevel2">Percentage Level 2</label>
                    <input type="number" class="form-control" name="percentageLevel2" id="field_percentageLevel2"
                        [(ngModel)]="financialVariables.percentageLevel2" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crieAsasApp.financialVariables.percentageLevel3" for="field_percentageLevel3">Percentage Level 3</label>
                    <input type="number" class="form-control" name="percentageLevel3" id="field_percentageLevel3"
                        [(ngModel)]="financialVariables.percentageLevel3" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crieAsasApp.financialVariables.percentageLevel4" for="field_percentageLevel4">Percentage Level 4</label>
                    <input type="number" class="form-control" name="percentageLevel4" id="field_percentageLevel4"
                        [(ngModel)]="financialVariables.percentageLevel4" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crieAsasApp.financialVariables.percentageLevel5" for="field_percentageLevel5">Percentage Level 5</label>
                    <input type="number" class="form-control" name="percentageLevel5" id="field_percentageLevel5"
                        [(ngModel)]="financialVariables.percentageLevel5" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crieAsasApp.financialVariables.valueAdminFee" for="field_valueAdminFee">Value Admin Fee</label>
                    <input type="number" class="form-control" name="valueAdminFee" id="field_valueAdminFee"
                        [(ngModel)]="financialVariables.valueAdminFee" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crieAsasApp.financialVariables.percentageBonus" for="field_percentageBonus">Percentage Bonus</label>
                    <input type="number" class="form-control" name="percentageBonus" id="field_percentageBonus"
                        [(ngModel)]="financialVariables.percentageBonus" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
