<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="financialVariables">
            <h2><span jhiTranslate="crieAsasApp.financialVariables.detail.title">Financial Variables</span> {{financialVariables.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="crieAsasApp.financialVariables.closingDay">Closing Day</span></dt>
                <dd>
                    <span>{{financialVariables.closingDay}}</span>
                </dd>
                <dt><span jhiTranslate="crieAsasApp.financialVariables.billingDay">Billing Day</span></dt>
                <dd>
                    <span>{{financialVariables.billingDay}}</span>
                </dd>
                <dt><span jhiTranslate="crieAsasApp.financialVariables.percentageLevel1">Percentage Level 1</span></dt>
                <dd>
                    <span>{{financialVariables.percentageLevel1}}</span>
                </dd>
                <dt><span jhiTranslate="crieAsasApp.financialVariables.percentageLevel2">Percentage Level 2</span></dt>
                <dd>
                    <span>{{financialVariables.percentageLevel2}}</span>
                </dd>
                <dt><span jhiTranslate="crieAsasApp.financialVariables.percentageLevel3">Percentage Level 3</span></dt>
                <dd>
                    <span>{{financialVariables.percentageLevel3}}</span>
                </dd>
                <dt><span jhiTranslate="crieAsasApp.financialVariables.percentageLevel4">Percentage Level 4</span></dt>
                <dd>
                    <span>{{financialVariables.percentageLevel4}}</span>
                </dd>
                <dt><span jhiTranslate="crieAsasApp.financialVariables.percentageLevel5">Percentage Level 5</span></dt>
                <dd>
                    <span>{{financialVariables.percentageLevel5}}</span>
                </dd>
                <dt><span jhiTranslate="crieAsasApp.financialVariables.valueAdminFee">Value Admin Fee</span></dt>
                <dd>
                    <span>{{financialVariables.valueAdminFee}}</span>
                </dd>
                <dt><span jhiTranslate="crieAsasApp.financialVariables.percentageBonus">Percentage Bonus</span></dt>
                <dd>
                    <span>{{financialVariables.percentageBonus}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/financial-variables', financialVariables.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
