<div>
    <h2 id="page-heading">
        <span jhiTranslate="crieAsasApp.financialVariables.home.title">Financial Variables</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-financial-variables" [routerLink]="['/financial-variables/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="crieAsasApp.financialVariables.home.createLabel">
            Create new Financial Variables
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="financialVariables">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="closingDay"><span jhiTranslate="crieAsasApp.financialVariables.closingDay">Closing Day</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="billingDay"><span jhiTranslate="crieAsasApp.financialVariables.billingDay">Billing Day</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="percentageLevel1"><span jhiTranslate="crieAsasApp.financialVariables.percentageLevel1">Percentage Level 1</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="percentageLevel2"><span jhiTranslate="crieAsasApp.financialVariables.percentageLevel2">Percentage Level 2</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="percentageLevel3"><span jhiTranslate="crieAsasApp.financialVariables.percentageLevel3">Percentage Level 3</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="percentageLevel4"><span jhiTranslate="crieAsasApp.financialVariables.percentageLevel4">Percentage Level 4</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="percentageLevel5"><span jhiTranslate="crieAsasApp.financialVariables.percentageLevel5">Percentage Level 5</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="valueAdminFee"><span jhiTranslate="crieAsasApp.financialVariables.valueAdminFee">Value Admin Fee</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="percentageBonus"><span jhiTranslate="crieAsasApp.financialVariables.percentageBonus">Percentage Bonus</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let financialVariables of financialVariables ;trackBy: trackId">
                <td><a [routerLink]="['/financial-variables', financialVariables.id, 'view' ]">{{financialVariables.id}}</a></td>
                <td>{{financialVariables.closingDay | date:'medium'}}</td>
                <td>{{financialVariables.billingDay | date:'medium'}}</td>
                <td>{{financialVariables.percentageLevel1}}</td>
                <td>{{financialVariables.percentageLevel2}}</td>
                <td>{{financialVariables.percentageLevel3}}</td>
                <td>{{financialVariables.percentageLevel4}}</td>
                <td>{{financialVariables.percentageLevel5}}</td>
                <td>{{financialVariables.valueAdminFee}}</td>
                <td>{{financialVariables.percentageBonus}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/financial-variables', financialVariables.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/financial-variables', financialVariables.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'financial-variables/'+ financialVariables.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
