<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-signature-heading" jhiTranslate="crieAsasApp.signature.home.createOrEditLabel">Create or edit a Signature</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!signature.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="signature.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crieAsasApp.signature.signatureHash" for="field_signatureHash">Signature Hash</label>
                    <input type="text" class="form-control" name="signatureHash" id="field_signatureHash"
                        [(ngModel)]="signature.signatureHash" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crieAsasApp.signature.dateBegin" for="field_dateBegin">Date Begin</label>
                    <div class="d-flex">
                        <input id="field_dateBegin" type="datetime-local" class="form-control" name="dateBegin" [(ngModel)]="dateBegin"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crieAsasApp.signature.statusSignature" for="field_statusSignature">Status Signature</label>
                    <select class="form-control" name="statusSignature" [(ngModel)]="signature.statusSignature" id="field_statusSignature" >
                        <option value="ACTIVE">{{'crieAsasApp.StatusSignature.ACTIVE' | translate}}</option>
                        <option value="CANCELED">{{'crieAsasApp.StatusSignature.CANCELED' | translate}}</option>
                        <option value="SUSPENDED">{{'crieAsasApp.StatusSignature.SUSPENDED' | translate}}</option>
                        <option value="BLOCKED">{{'crieAsasApp.StatusSignature.BLOCKED' | translate}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crieAsasApp.signature.agreement" for="field_agreement">Agreement</label>
                    <select class="form-control" id="field_agreement" name="agreement" [(ngModel)]="signature.agreementId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="agreementOption.id" *ngFor="let agreementOption of agreements; trackBy: trackAgreementById">{{agreementOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crieAsasApp.signature.financialVariables" for="field_financialVariables">Financial Variables</label>
                    <select class="form-control" id="field_financialVariables" name="financialVariables" [(ngModel)]="signature.financialVariablesId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="financialVariablesOption.id" *ngFor="let financialVariablesOption of financialvariables; trackBy: trackFinancialVariablesById">{{financialVariablesOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crieAsasApp.signature.plan" for="field_plan">Plan</label>
                    <select class="form-control" id="field_plan" name="plan" [(ngModel)]="signature.planId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="planOption.id" *ngFor="let planOption of plans; trackBy: trackPlanById">{{planOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label jhiTranslate="crieAsasApp.signature.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" multiple name="user" [(ngModel)]="signature.users">
                        <option [ngValue]="getSelected(signature.users, userOption)" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
