<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="signature">
            <h2><span jhiTranslate="crieAsasApp.signature.detail.title">Signature</span> {{signature.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="crieAsasApp.signature.signatureHash">Signature Hash</span></dt>
                <dd>
                    <span>{{signature.signatureHash}}</span>
                </dd>
                <dt><span jhiTranslate="crieAsasApp.signature.dateBegin">Date Begin</span></dt>
                <dd>
                    <span>{{signature.dateBegin}}</span>
                </dd>
                <dt><span jhiTranslate="crieAsasApp.signature.statusSignature">Status Signature</span></dt>
                <dd>
                    <span jhiTranslate="{{'crieAsasApp.StatusSignature.' + signature.statusSignature}}">{{signature.statusSignature}}</span>
                </dd>
                <dt><span jhiTranslate="crieAsasApp.signature.agreement">Agreement</span></dt>
                <dd>
                    <div *ngIf="signature.agreementId">
                        <a [routerLink]="['/agreement', signature.agreementId, 'view']">{{signature.agreementId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="crieAsasApp.signature.financialVariables">Financial Variables</span></dt>
                <dd>
                    <div *ngIf="signature.financialVariablesId">
                        <a [routerLink]="['/financial-variables', signature.financialVariablesId, 'view']">{{signature.financialVariablesId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="crieAsasApp.signature.plan">Plan</span></dt>
                <dd>
                    <div *ngIf="signature.planId">
                        <a [routerLink]="['/plan', signature.planId, 'view']">{{signature.planId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="crieAsasApp.signature.user">User</span></dt>
                <dd>
                    <span *ngFor="let user of signature.users; let last = last">
                        {{user.id}}{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/signature', signature.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
