<div>
    <h2 id="page-heading">
        <span jhiTranslate="crieAsasApp.signature.home.title">Signatures</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-signature" [routerLink]="['/signature/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="crieAsasApp.signature.home.createLabel">
            Create new Signature
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="signatures">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="signatureHash"><span jhiTranslate="crieAsasApp.signature.signatureHash">Signature Hash</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dateBegin"><span jhiTranslate="crieAsasApp.signature.dateBegin">Date Begin</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="statusSignature"><span jhiTranslate="crieAsasApp.signature.statusSignature">Status Signature</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="agreementId"><span jhiTranslate="crieAsasApp.signature.agreement">Agreement</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="financialVariablesId"><span jhiTranslate="crieAsasApp.signature.financialVariables">Financial Variables</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="planId"><span jhiTranslate="crieAsasApp.signature.plan">Plan</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let signature of signatures ;trackBy: trackId">
                <td><a [routerLink]="['/signature', signature.id, 'view' ]">{{signature.id}}</a></td>
                <td>{{signature.signatureHash}}</td>
                <td>{{signature.dateBegin | date:'medium'}}</td>
                <td jhiTranslate="{{'crieAsasApp.StatusSignature.' + signature.statusSignature}}">{{signature.statusSignature}}</td>
                <td>
                    <div *ngIf="signature.agreementId">
                        <a [routerLink]="['../agreement', signature.agreementId , 'view' ]" >{{signature.agreementId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="signature.financialVariablesId">
                        <a [routerLink]="['../financial-variables', signature.financialVariablesId , 'view' ]" >{{signature.financialVariablesId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="signature.planId">
                        <a [routerLink]="['../plan', signature.planId , 'view' ]" >{{signature.planId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/signature', signature.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/signature', signature.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'signature/'+ signature.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
