<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="sellersToSellers">
            <h2><span jhiTranslate="crieAsasApp.sellersToSellers.detail.title">Sellers To Sellers</span> {{sellersToSellers.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="crieAsasApp.sellersToSellers.sun">Sun</span></dt>
                <dd>
                    {{sellersToSellers.sunId}}
                </dd>
                <dt><span jhiTranslate="crieAsasApp.sellersToSellers.father">Father</span></dt>
                <dd>
                    {{sellersToSellers.fatherId}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/sellers-to-sellers', sellersToSellers.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
