<div>
    <h2 id="page-heading">
        <span jhiTranslate="crieAsasApp.sellersToSellers.home.title">Sellers To Sellers</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-sellers-to-sellers" [routerLink]="['/sellers-to-sellers/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="crieAsasApp.sellersToSellers.home.createLabel">
            Create new Sellers To Sellers
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="sellersToSellers">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="sunId"><span jhiTranslate="crieAsasApp.sellersToSellers.sun">Sun</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fatherId"><span jhiTranslate="crieAsasApp.sellersToSellers.father">Father</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let sellersToSellers of sellersToSellers ;trackBy: trackId">
                <td><a [routerLink]="['/sellers-to-sellers', sellersToSellers.id, 'view' ]">{{sellersToSellers.id}}</a></td>
                <td>
                    {{sellersToSellers.sunId}}
                </td>
                <td>
                    {{sellersToSellers.fatherId}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/sellers-to-sellers', sellersToSellers.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/sellers-to-sellers', sellersToSellers.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'sellers-to-sellers/'+ sellersToSellers.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
