<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-plan-heading" jhiTranslate="crieAsasApp.plan.home.createOrEditLabel">Create or edit a Plan</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!plan.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="plan.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crieAsasApp.plan.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="plan.name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crieAsasApp.plan.details" for="field_details">Details</label>
                    <input type="text" class="form-control" name="details" id="field_details"
                        [(ngModel)]="plan.details" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crieAsasApp.plan.pgPlanHash" for="field_pgPlanHash">Pg Plan Hash</label>
                    <input type="text" class="form-control" name="pgPlanHash" id="field_pgPlanHash"
                        [(ngModel)]="plan.pgPlanHash" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crieAsasApp.plan.pgPlanCodeReference" for="field_pgPlanCodeReference">Pg Plan Code Reference</label>
                    <input type="text" class="form-control" name="pgPlanCodeReference" id="field_pgPlanCodeReference"
                        [(ngModel)]="plan.pgPlanCodeReference" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crieAsasApp.plan.value" for="field_value">Value</label>
                    <input type="number" class="form-control" name="value" id="field_value"
                        [(ngModel)]="plan.value" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crieAsasApp.plan.billingPeriod" for="field_billingPeriod">Billing Period</label>
                    <input type="text" class="form-control" name="billingPeriod" id="field_billingPeriod"
                        [(ngModel)]="plan.billingPeriod" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crieAsasApp.plan.membershipFee" for="field_membershipFee">Membership Fee</label>
                    <input type="number" class="form-control" name="membershipFee" id="field_membershipFee"
                        [(ngModel)]="plan.membershipFee" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
