<div>
    <h2 id="page-heading">
        <span jhiTranslate="crieAsasApp.plan.home.title">Plans</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-plan" [routerLink]="['/plan/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="crieAsasApp.plan.home.createLabel">
            Create new Plan
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="plans">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span jhiTranslate="crieAsasApp.plan.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="details"><span jhiTranslate="crieAsasApp.plan.details">Details</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="pgPlanHash"><span jhiTranslate="crieAsasApp.plan.pgPlanHash">Pg Plan Hash</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="pgPlanCodeReference"><span jhiTranslate="crieAsasApp.plan.pgPlanCodeReference">Pg Plan Code Reference</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="value"><span jhiTranslate="crieAsasApp.plan.value">Value</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="billingPeriod"><span jhiTranslate="crieAsasApp.plan.billingPeriod">Billing Period</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="membershipFee"><span jhiTranslate="crieAsasApp.plan.membershipFee">Membership Fee</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let plan of plans ;trackBy: trackId">
                <td><a [routerLink]="['/plan', plan.id, 'view' ]">{{plan.id}}</a></td>
                <td>{{plan.name}}</td>
                <td>{{plan.details}}</td>
                <td>{{plan.pgPlanHash}}</td>
                <td>{{plan.pgPlanCodeReference}}</td>
                <td>{{plan.value}}</td>
                <td>{{plan.billingPeriod}}</td>
                <td>{{plan.membershipFee}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/plan', plan.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/plan', plan.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'plan/'+ plan.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
