<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="plan">
            <h2><span jhiTranslate="crieAsasApp.plan.detail.title">Plan</span> {{plan.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="crieAsasApp.plan.name">Name</span></dt>
                <dd>
                    <span>{{plan.name}}</span>
                </dd>
                <dt><span jhiTranslate="crieAsasApp.plan.details">Details</span></dt>
                <dd>
                    <span>{{plan.details}}</span>
                </dd>
                <dt><span jhiTranslate="crieAsasApp.plan.pgPlanHash">Pg Plan Hash</span></dt>
                <dd>
                    <span>{{plan.pgPlanHash}}</span>
                </dd>
                <dt><span jhiTranslate="crieAsasApp.plan.pgPlanCodeReference">Pg Plan Code Reference</span></dt>
                <dd>
                    <span>{{plan.pgPlanCodeReference}}</span>
                </dd>
                <dt><span jhiTranslate="crieAsasApp.plan.value">Value</span></dt>
                <dd>
                    <span>{{plan.value}}</span>
                </dd>
                <dt><span jhiTranslate="crieAsasApp.plan.billingPeriod">Billing Period</span></dt>
                <dd>
                    <span>{{plan.billingPeriod}}</span>
                </dd>
                <dt><span jhiTranslate="crieAsasApp.plan.membershipFee">Membership Fee</span></dt>
                <dd>
                    <span>{{plan.membershipFee}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/plan', plan.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
