<div>
    <h2 id="page-heading">
        <span jhiTranslate="crieAsasApp.agreement.home.title">Agreements</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-agreement" [routerLink]="['/agreement/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="crieAsasApp.agreement.home.createLabel">
            Create new Agreement
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="agreements">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span jhiTranslate="crieAsasApp.agreement.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="urlAgreement"><span jhiTranslate="crieAsasApp.agreement.urlAgreement">Url Agreement</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createDate"><span jhiTranslate="crieAsasApp.agreement.createDate">Create Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="lastUpdate"><span jhiTranslate="crieAsasApp.agreement.lastUpdate">Last Update</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let agreement of agreements ;trackBy: trackId">
                <td><a [routerLink]="['/agreement', agreement.id, 'view' ]">{{agreement.id}}</a></td>
                <td>{{agreement.description}}</td>
                <td>{{agreement.urlAgreement}}</td>
                <td>{{agreement.createDate | date:'medium'}}</td>
                <td>{{agreement.lastUpdate | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/agreement', agreement.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/agreement', agreement.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'agreement/'+ agreement.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
