<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="agreement">
            <h2><span jhiTranslate="crieAsasApp.agreement.detail.title">Agreement</span> {{agreement.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="crieAsasApp.agreement.description">Description</span></dt>
                <dd>
                    <span>{{agreement.description}}</span>
                </dd>
                <dt><span jhiTranslate="crieAsasApp.agreement.urlAgreement">Url Agreement</span></dt>
                <dd>
                    <span>{{agreement.urlAgreement}}</span>
                </dd>
                <dt><span jhiTranslate="crieAsasApp.agreement.createDate">Create Date</span></dt>
                <dd>
                    <span>{{agreement.createDate}}</span>
                </dd>
                <dt><span jhiTranslate="crieAsasApp.agreement.lastUpdate">Last Update</span></dt>
                <dd>
                    <span>{{agreement.lastUpdate}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/agreement', agreement.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
