<div>
    <h2 id="page-heading">
        <span jhiTranslate="crieAsasApp.pagSeguroData.home.title">Pag Seguro Data</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-pag-seguro-data" [routerLink]="['/pag-seguro-data/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="crieAsasApp.pagSeguroData.home.createLabel">
            Create new Pag Seguro Data
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="pagSeguroData">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="sellerEmail"><span jhiTranslate="crieAsasApp.pagSeguroData.sellerEmail">Seller Email</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="sellerToken"><span jhiTranslate="crieAsasApp.pagSeguroData.sellerToken">Seller Token</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="emailSandbox"><span jhiTranslate="crieAsasApp.pagSeguroData.emailSandbox">Email Sandbox</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="passSandbox"><span jhiTranslate="crieAsasApp.pagSeguroData.passSandbox">Pass Sandbox</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="appId"><span jhiTranslate="crieAsasApp.pagSeguroData.appId">App Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="appKey"><span jhiTranslate="crieAsasApp.pagSeguroData.appKey">App Key</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let pagSeguroData of pagSeguroData ;trackBy: trackId">
                <td><a [routerLink]="['/pag-seguro-data', pagSeguroData.id, 'view' ]">{{pagSeguroData.id}}</a></td>
                <td>{{pagSeguroData.sellerEmail}}</td>
                <td>{{pagSeguroData.sellerToken}}</td>
                <td>{{pagSeguroData.emailSandbox}}</td>
                <td>{{pagSeguroData.passSandbox}}</td>
                <td>{{pagSeguroData.appId}}</td>
                <td>{{pagSeguroData.appKey}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/pag-seguro-data', pagSeguroData.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/pag-seguro-data', pagSeguroData.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'pag-seguro-data/'+ pagSeguroData.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
