<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="pagSeguroData">
            <h2><span jhiTranslate="crieAsasApp.pagSeguroData.detail.title">Pag Seguro Data</span> {{pagSeguroData.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="crieAsasApp.pagSeguroData.sellerEmail">Seller Email</span></dt>
                <dd>
                    <span>{{pagSeguroData.sellerEmail}}</span>
                </dd>
                <dt><span jhiTranslate="crieAsasApp.pagSeguroData.sellerToken">Seller Token</span></dt>
                <dd>
                    <span>{{pagSeguroData.sellerToken}}</span>
                </dd>
                <dt><span jhiTranslate="crieAsasApp.pagSeguroData.emailSandbox">Email Sandbox</span></dt>
                <dd>
                    <span>{{pagSeguroData.emailSandbox}}</span>
                </dd>
                <dt><span jhiTranslate="crieAsasApp.pagSeguroData.passSandbox">Pass Sandbox</span></dt>
                <dd>
                    <span>{{pagSeguroData.passSandbox}}</span>
                </dd>
                <dt><span jhiTranslate="crieAsasApp.pagSeguroData.appId">App Id</span></dt>
                <dd>
                    <span>{{pagSeguroData.appId}}</span>
                </dd>
                <dt><span jhiTranslate="crieAsasApp.pagSeguroData.appKey">App Key</span></dt>
                <dd>
                    <span>{{pagSeguroData.appKey}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/pag-seguro-data', pagSeguroData.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
