<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-pag-seguro-data-heading" jhiTranslate="crieAsasApp.pagSeguroData.home.createOrEditLabel">Create or edit a Pag Seguro Data</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!pagSeguroData.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="pagSeguroData.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crieAsasApp.pagSeguroData.sellerEmail" for="field_sellerEmail">Seller Email</label>
                    <input type="text" class="form-control" name="sellerEmail" id="field_sellerEmail"
                        [(ngModel)]="pagSeguroData.sellerEmail" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crieAsasApp.pagSeguroData.sellerToken" for="field_sellerToken">Seller Token</label>
                    <input type="text" class="form-control" name="sellerToken" id="field_sellerToken"
                        [(ngModel)]="pagSeguroData.sellerToken" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crieAsasApp.pagSeguroData.emailSandbox" for="field_emailSandbox">Email Sandbox</label>
                    <input type="text" class="form-control" name="emailSandbox" id="field_emailSandbox"
                        [(ngModel)]="pagSeguroData.emailSandbox" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crieAsasApp.pagSeguroData.passSandbox" for="field_passSandbox">Pass Sandbox</label>
                    <input type="text" class="form-control" name="passSandbox" id="field_passSandbox"
                        [(ngModel)]="pagSeguroData.passSandbox" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crieAsasApp.pagSeguroData.appId" for="field_appId">App Id</label>
                    <input type="text" class="form-control" name="appId" id="field_appId"
                        [(ngModel)]="pagSeguroData.appId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crieAsasApp.pagSeguroData.appKey" for="field_appKey">App Key</label>
                    <input type="text" class="form-control" name="appKey" id="field_appKey"
                        [(ngModel)]="pagSeguroData.appKey" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
