<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="bank">
            <h2><span jhiTranslate="crieAsasApp.bank.detail.title">Bank</span> {{bank.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="crieAsasApp.bank.amountPro">Amount Pro</span></dt>
                <dd>
                    <span>{{bank.amountPro}}</span>
                </dd>
                <dt><span jhiTranslate="crieAsasApp.bank.user">User</span></dt>
                <dd>
                    {{bank.userLogin}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/bank', bank.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
