<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-bank-heading" jhiTranslate="crieAsasApp.bank.home.createOrEditLabel">Create or edit a Bank</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!bank.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="bank.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crieAsasApp.bank.amountPro" for="field_amountPro">Amount Pro</label>
                    <input type="number" class="form-control" name="amountPro" id="field_amountPro"
                        [(ngModel)]="bank.amountPro" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crieAsasApp.bank.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" [(ngModel)]="bank.userId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
