<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-sub-domain-heading" jhiTranslate="crieAsasApp.subDomain.home.createOrEditLabel">Create or edit a Sub Domain</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!subDomain.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="subDomain.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crieAsasApp.subDomain.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="subDomain.name" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crieAsasApp.subDomain.signature" for="field_signature">Signature</label>
                    <select class="form-control" id="field_signature" name="signature" [(ngModel)]="subDomain.signatureId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="signatureOption.id" *ngFor="let signatureOption of signatures; trackBy: trackSignatureById">{{signatureOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
