<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="subDomain">
            <h2><span jhiTranslate="crieAsasApp.subDomain.detail.title">Sub Domain</span> {{subDomain.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="crieAsasApp.subDomain.name">Name</span></dt>
                <dd>
                    <span>{{subDomain.name}}</span>
                </dd>
                <dt><span jhiTranslate="crieAsasApp.subDomain.signature">Signature</span></dt>
                <dd>
                    <div *ngIf="subDomain.signatureId">
                        <a [routerLink]="['/signature', subDomain.signatureId, 'view']">{{subDomain.signatureId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/sub-domain', subDomain.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
